<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
    <setting useReflectionOptimizer="true"/>
  </settings>
  
  <providers resource="providers.config"/>
  <database>
    <provider name="oracleClient1.0"/>
    <dataSource name="Northwind" connectionString="Data Source=LISTENER_ORCL;user id=pla01;password=kurenai0;"/>
  </database>
  
  <sqlMaps>
    <sqlMap resource="./SQL/board.xml" />
  </sqlMaps>
</sqlMapConfig>